In [5]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
print(len(mix_fruits))

7

In [6]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
print(len(mix_fruits))

7

In [2]:
mix_fruits.add('Kiwi')
print(mix_fruits)

{'Pear', 'Mango', 'Banana', 'Orange', 'Guava', 'Kiwi', 'Fig', 'Apple'}

In [7]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
mix_fruits.update(['Peach','Carrot'])
print(mix_fruits)

{'Pear', 'Mango', 'Banana', 'Orange', 'Peach', 'Guava', 'Carrot', 'Fig', 'Apple'}

In [8]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
mix_fruits.discard('Mango')
print(mix_fruits)

{'Pear', 'Banana', 'Orange', 'Guava', 'Fig', 'Apple'}

In [9]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
mix_fruits.remove('Mango')
print(mix_fruits)

{'Pear', 'Banana', 'Orange', 'Guava', 'Fig', 'Apple'}

In [10]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [11]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [12]:
A.issubset(B)

True

In [13]:
A.isdisjoint(B)

False

In [14]:
A.union(B)
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
print(A.symmetric_difference(B))

{27, 28}

In [16]:
A.clear()
B.clear()
print(A)
print(B)

set()
set()

In [18]:
num = [22, 19, 24, 25, 26, 24, 25, 24]
num_1=set(num)
print(len(num_1))
print(len(num))

5
8

In [19]:
num = [22, 19, 24, 25, 26, 24, 25, 24]
num_1=set(num)
print(num_1,type(num_1))

{19, 22, 24, 25, 26} <class 'set'>

In [20]:
num = [22, 19, 24, 25, 26, 24, 25, 24]
num_2=str(num)
print(num_2,type(num_2))

[22, 19, 24, 25, 26, 24, 25, 24] <class 'str'>

In [21]:
num = [22, 19, 24, 25, 26, 24, 25, 24]
num_3=list(num)
print(num_3,type(num_3))

[22, 19, 24, 25, 26, 24, 25, 24] <class 'list'>

In [24]:
num = [22, 19, 24, 25, 26, 24, 25, 24]
num_4=tuple(num)
print(num_4,type(num_4))

(22, 19, 24, 25, 26, 24, 25, 24) <class 'tuple'>

In [25]:
sentence='I am a researcher cum teacher and I love to inspire and teach people.'
sentence1=set(sentence.split())
print(sentence1)

{'am', 'inspire', 'cum', 'teacher', 'and', 'I', 'researcher', 'people.', 'to', 'teach', 'a', 'love'}