In [1]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
count = 0
while count < 10:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in (range(10,-1,-1)):
          print(i)

10
9
8
7
6
5
4
3
2
1
0

In [4]:
i=10
while i>=0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1
0

In [7]:
rows=8
for i in range (8):
    for j in range (8):
        print("#",end=" ")
    print(" ")

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [3]:
rows = 7
for i in range(1, rows + 1):    # outer loop    
    for j in range(1, i+1):   # inner loop
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [7]:
for i in range (0,11):
    for j in range (0,11):
        if i!=j:
            continue
        print(i , '*' , j ,'=', i*j)

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [13]:
list=["Python","Numpy","Pandas","Scikit","Pytorch"]
for i in list:
    print(i)

Python
Numpy
Pandas
Scikit
Pytorch

In [2]:
for i in range (1,101):
    if i%2==0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10
Odd Number: 11
Even Number: 12
Odd Number: 13
Even Number: 14
Odd Number: 15
Even Number: 16
Odd Number: 17
Even Number: 18
Odd Number: 19
Even Number: 20
Odd Number: 21
Even Number: 22
Odd Number: 23
Even Number: 24
Odd Number: 25
Even Number: 26
Odd Number: 27
Even Number: 28
Odd Number: 29
Even Number: 30
Odd Number: 31
Even Number: 32
Odd Number: 33
Even Number: 34
Odd Number: 35
Even Number: 36
Odd Number: 37
Even Number: 38
Odd Number: 39
Even Number: 40
Odd Number: 41
Even Number: 42
Odd Number: 43
Even Number: 44
Odd Number: 45
Even Number: 46
Odd Number: 47
Even Number: 48
Odd Number: 49
Even Number: 50
Odd Number: 51
Even Number: 52
Odd Number: 53
Even Number: 54
Odd Number: 55
Even Number: 56
Odd Number: 57
Even Number: 58
Odd Number: 59
Even Number: 60
Odd Number: 61
Even Number: 62
Odd Number: 63
Even Number: 64
Odd Number: 65
Even Number: 66
Odd Number: 67
Even Number: 68
Odd Number: 69
Even Number: 70
Odd Number: 71
Even Number: 72
Odd Number: 73
Even Number: 74
Odd Number: 75
Even Number: 76
Odd Number: 77
Even Number: 78
Odd Number: 79
Even Number: 80
Odd Number: 81
Even Number: 82
Odd Number: 83
Even Number: 84
Odd Number: 85
Even Number: 86
Odd Number: 87
Even Number: 88
Odd Number: 89
Even Number: 90
Odd Number: 91
Even Number: 92
Odd Number: 93
Even Number: 94
Odd Number: 95
Even Number: 96
Odd Number: 97
Even Number: 98
Odd Number: 99
Even Number: 100

In [3]:
total=0
for i in range(0,101):
    total=total+i
print(total)

5050

In [1]:
num_1=[]
num_2=[]
for i in range (1,101):
    if i%2==0:
        num_1.append(i)
    else:
        num_2.append(i)
total=0
for i in num_1:
    total=total+i
print(total)
sum=0
for i in num_2:
    sum=sum+i
print(sum)

2550
2500

In [4]:
list=['banana', 'orange', 'mango', 'lemon']
for i in reversed(list):
    print(i)

lemon
mango
orange
banana