In [35]:
my_tuple1 = ('apple,orange,pear,peach,')
print(my_tuple1)

apple,orange,pear,peach,

In [36]:
my_tuple2 = ('cabbage,Baby Cabbage,Potato,Carrot,Onion ')
print(my_tuple2)

cabbage,Baby Cabbage,Potato,Carrot,Onion

In [37]:
t1=(my_tuple1)
t2=(my_tuple2)
fruits_vegetables=t1+t2
print(fruits_vegetables)

apple,orange,pear,peach,cabbage,Baby Cabbage,Potato,Carrot,Onion

In [38]:
t1=(my_tuple1)
t2=(my_tuple2)
fruits_vegetables=t1+t2
print(len(fruits_vegetables))

65

In [15]:
fruits_vegetables=('apple','orange','pear',['peach'],['cabbage'],['Baby Cabbage'],'Potato','Carrot','Onion',)
fruits_vegetables[3][0]=("orange juice")
fruits_vegetables[5][0]=("Needle mushroom")
print(fruits_vegetables)

('apple', 'orange', 'pear', ['orange juice'], ['cabbage'], ['Needle mushroom'], 'Potato', 'Carrot', 'Onion')

In [18]:
print(fruits_vegetables[5])
print(fruits_vegetables[3])

['Needle mushroom']
['orange juice']

In [19]:
print(list(fruits_vegetables))

['apple', 'orange', 'pear', ['orange juice'], ['cabbage'], ['Needle mushroom'], 'Potato', 'Carrot', 'Onion']

In [27]:
print(fruits_vegetables[:-3])

('apple', 'orange', 'pear', ['orange juice'], ['cabbage'], ['Needle mushroom'])

In [29]:
print(fruits_vegetables[3:])

(['orange juice'], ['cabbage'], ['Needle mushroom'], 'Potato', 'Carrot', 'Onion')

In [34]:
my_tuple1 = ('apple,orange,pear,peach,')
my_tuple2 = ('cabbage,Baby Cabbage,Potato,Carrot,Onion ')
t1=(my_tuple1)
t2=(my_tuple2)
fruits_vegetables=t1+t2
del fruits_vegetables

In [36]:
my_tuple = ('India','China','Singapore','Thailand','Indonesia')
print('Finland' in my_tuple)

False

In [37]:
print('India' in my_tuple)

True